# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
/specture

# Test coverage
*.out
coverage.html

# Dependency directories
vendor/

# Nix build output
result

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


.envrc
